# --- Standard C/C++ Compilates ---
*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.ilk
*.pdb
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
*.dwo

# --- Embedded/AVR Specifics ---
*.hex
*.elf
*.eep
*.map
*.lst
*.lpp
*.su
*.srec

# --- MPLAB X / Microchip Studio Specifics ---
**/nbproject/private/
**/nbproject/Makefile-*
**/nbproject/Package-*
build/
dist/

# --- PlatformIO / VS Code Specifics ---
.pio/
.clangd/
.vscode/*.log
.vscode/

# --- OS Specifics ---
.DS_Store
Thumbs.db
